.gradle/
build/
app/build/
local.properties
*.jks
*.keystore
captures/
.idea/
.DS_Store
fastlane/.env*
fastlane/*.json
fastlane/*.json.*
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
.bundle/
vendor/bundle/
